<!DOCTYPE html>
<html>
<head>
    <title>@{ Html.RenderAction("Header", "SiteConstant"); } Yönetim Paneli</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">

    @Html.Partial("_StylesPartial")

    @Html.Partial("_ScriptsPartial")
</head>
<body>
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            @Html.Partial("_MainNavbar")

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    @Html.Partial("_MainSidebar")
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr />
                            <div class="footer bg-inverse" style="background-color:white !important">
                                <p class="text-center" style="color:black"> @DateTime.Now.Year - Tüm Hakları Saklıdır</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>
