<!DOCTYPE html>
<html>
<head>
    <title>Adminty - Premium Admin Template by Colorlib </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">

    @Html.Partial("_StylesPartial")

    @Html.Partial("_ScriptsPartial")
</head>
<body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            @Html.Partial("_MainNavbar")
           
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    @Html.Partial("_MainSidebar")
                    <div class="pcoded-content">
                        @RenderBody()
                        <div style="margin-top:750px">
                            <hr />
                            <div class="footer bg-inverse" style="background-color:white !important">
                                <p class="text-center" style="color:black"> @DateTime.Now.Year - Tüm Hakları Saklıdır</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>
