@model BuildingSite.Model.EntityModels.ViewModel
@{
    ViewBag.Title = "Home Page";
}

<!--====================  hero slider area ====================-->
<div class="hero-slider-area space__bottom--r120">

    <div class="hero-slick-slider-wrapper">
        @foreach (var slider in Model.sliderModels)
        {

            <div class="single-hero-slider single-hero-slider--background single-hero-slider--overlay position-relative bg-img" data-bg="/Upload/Image/@slider.Picture">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- hero slider content -->
                            <div class="hero-slider-content hero-slider-content--extra-space">
                                <h3 class="hero-slider-content__subtitle">@slider.Header</h3>
                                <h2 class="hero-slider-content__title space__bottom--50">
                                    @slider.Content
                                </h2>
                                <a href="/ContactPage/Index" class="default-btn default-btn--hero-slider">Bize Ulaşın</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<!--====================  End of hero slider area  ====================-->
<!--====================  about area ====================-->
<div class="about-area space__bottom--r120 " style="margin-bottom:50px">
    <div class="container">
        <div class="row align-items-center row-25">
            <div class="col-md-6">
                <div class="about-image space__bottom__lm--30">
                    <img src="~/Upload/Image/@Model.AboutUsPageModel.Picture" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-content">
                    <!-- section title -->
                    <div class="section-title space__bottom--25">
                        <h2 class="section-title__title">@Model.AboutUsPageModel.Header</h2>
                    </div>
                    <p class="about-content__text space__bottom--40">
                        @Model.AboutUsPageModel.Content
                    </p>
                    <a href="/ContactPage/Index" class="default-btn">Bize Ulaşın</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of about area  ====================-->
<!--====================  service area ====================-->
<div class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-5">
                <!-- service banner -->
                <div class="service-banner space__bottom__md--40 space__bottom__lm--40">
                    <img src="~/Content/assets/img/service/service-man.png" class="float-none float-lg-right" alt="" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-7 mt-0 mt-lg-4">
                <!-- section title -->
                <div class="section-title space__bottom--40">
                    <h3 class="section-title__title">Hizmetlerimiz</h3>
                </div>
                <!-- service slider -->
                <div class="row service-slider-wrapper space__bottom__md--40 space__bottom__lm--40">

                    @foreach (var ourService in Model.ourServiceModels)
                    {
                        <div class="col single-service text-center">
                            <div class="single-service__image space__bottom--15">
                                <a href="service.html"><img src="~/Upload/Image/@ourService.Picture" class="img-fluid" style="height:150px" alt="" /></a>
                            </div>
                            <h4 class="single-service__content">
                                <a href="service.html">@ourService.Header</a>
                            </h4>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of service area  ====================-->
<!--====================  fun fact area ====================-->
<div class="fun-fact-area space__bottom--r120" style="margin-bottom:50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- fun fact wrapper -->
                <div class="fun-fact-wrapper fun-fact-wrapper-bg bg-img" data-bg="/Content/assets/img/backgrounds/funfact-bg.jpg">
                    <div class="fun-fact-inner background-color--default-overlay background-repeat--x-bottom space__inner--y30 bg-img" data-bg="/Content/assets/img/icons/ruler-black.png">
                        <div class="fun-fact-content-wrapper">
                            <div class="single-fun-fact">
                                <h3 class="single-fun-fact__number counter">@Model.SiteConstantModel.YearsOfExperience</h3>
                                <h4 class="single-fun-fact__text">Yıllık Deneyim</h4>
                            </div>
                            <div class="single-fun-fact">
                                <h3 class="single-fun-fact__number counter">@Model.SiteConstantModel.ProjectCount</h3>
                                <h4 class="single-fun-fact__text">Proje Sayısı</h4>
                            </div>
                            <div class="single-fun-fact">
                                <h3 class="single-fun-fact__number counter">@Model.SiteConstantModel.ClientsCount</h3>
                                <h4 class="single-fun-fact__text">Müşteri Sayısı</h4>
                            </div>
                            <div class="single-fun-fact">
                                <h3 class="single-fun-fact__number counter">@Model.SiteConstantModel.AwardsCount</h3>
                                <h4 class="single-fun-fact__text">Ödül Sayısı</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of fun fact area  ====================-->
<!--====================  project area ====================-->
<div class="project-section space__bottom--r120" style="margin-bottom:80px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center  space__bottom--40 mx-auto">
                    <h2 class="section-title__title">Projelerimiz</h2>
                </div>
                <div class="project-item-wrapper space__bottom--m40">
                    <div class="row">
                        @foreach (var project in Model.ProjectModels.Take(8).ToList())
                        {                            
                            <div class="col-lg-3 col-md-6 col-12 space__bottom--40">
                                <div class="single-project-wrapper single-project-wrapper--reduced-abs">
                                    @{ var projectpicture = Model.Project_PictureModels.FirstOrDefault(x => x.ProjectId == project.Id);}
                                    <a class="single-project-item p-0" href="/Project/Detail/@project.Id">
                                        <img src="~/Upload/Image/@projectpicture.Picture" style="height:200px" class="img-fluid" alt="">
                                        <span class="single-project-title">@project.Header</span>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of project area  ====================-->
<!--====================  blog grid slider area ====================-->
<div class="blog-grid-slider-area space__bottom--r120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title text-center  space__bottom--40 mx-auto">
                    <h2 class="section-title__title">Haberler</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-grid-wrapper space__bottom--m40">
                    <div class="row">
                        @foreach (var news in Model.newsModels)
                        {
                            <div class="col-md-4">
                                <div class="single-blog-grid space__bottom--40">
                                    <div class="single-blog-grid__image space__bottom--15">
                                        <a href="blog-details-left-sidebar.html">
                                            <img src="~/Upload/Image/@news.Picture" style="height:271px" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <h4 class="single-blog-grid__title space__bottom--10"><a href="blog-details-left-sidebar.html"> @news.Header</a></h4>
                                    <p class="single-blog-grid__text">
                                        @news.Description
                                    </p>
                                    <a href="/News/Detail/@news.Id" class="see-more-link">Daha fazla oku</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of blog grid slider area  ====================-->
