@model BuildingSite.Model.EntityModels.ViewModel
@{ 
    BuildingSite.Data.Context.DataContext db = new BuildingSite.Data.Context.DataContext();

    BuildingSite.Services.Repository.ProjectCategoryService projectCategoryService = new BuildingSite.Services.Repository.ProjectCategoryService(db);

    var projectCategoryModels = projectCategoryService.GetAll().Where(x => x.Active == true).ToList();

    BuildingSite.Services.Repository.SiteConstantService siteConstantService = new BuildingSite.Services.Repository.SiteConstantService(db);

    var siteConstantModel = siteConstantService.GetById(6);

    BuildingSite.Services.Repository.AboutUsPageService aboutUsPageService = new BuildingSite.Services.Repository.AboutUsPageService(db);

    var aboutUsPageModel = aboutUsPageService.GetById(1);

    BuildingSite.Services.Repository.ContactPageService contactPageService = new BuildingSite.Services.Repository.ContactPageService(db);

    var contactPageModel = contactPageService.GetById(1);

}
    <!--====================  footer area ====================-->
<div class="footer-area bg-img space__inner--ry120" data-bg="/Content/assets/img/backgrounds/footer-bg.jpg" style="height:400px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <div class="footer-widget__logo space__bottom--40">
                        <a href="/Home/Index">
                            @*<img src="~/Content/assets/img/logo-white.png" class="img-fluid" alt="">*@
                            <img src="~/Upload/Image/@siteConstantModel.Logo" width="200" alt="Theme-Logo" />
                        </a>
                    </div>
                    <ul class="social-icons">
                        <li><a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget space__top--15 space__top__md--40 space__top__lm--40">
                    <h5 class="footer-widget__title space__bottom--20">Proje Kategoriler</h5>
                    <ul class="footer-widget__menu">
                        @foreach (var ctg in projectCategoryModels)
                        {
                            <li><a href="/ProjectCategory/Index/@ctg.Id">@ctg.Name</a></li>
                        }
                        @*<li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Hizmetlerimiz</a></li>
                        <li><a href="#">Projelerimiz</a></li>
                        <li><a href="#">Haberler</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget space__top--15 space__top__md--40 space__top__lm--40">
                    <h5 class="footer-widget__title space__bottom--20">Kurumsal</h5>
                    <ul class="footer-widget__menu">
                        <li><a href="/AboutUsPage/Index">Hakkımızda</a></li>
                        <li><a href="/OurService/Index">Hizmetlerimiz</a></li>
                        <li><a href="/Project/Index">Projelerimiz</a></li>
                        <li><a href="/News/Index">Haberler</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="footer-widget__title space__top--15 space__bottom--20 space__top__md--40 space__top__lm--40">
                    İletişim
                </h5>
                <div class="footer-contact-wrapper">
                    <div class="single-footer-contact">
                        <div class="single-footer-contact__icon"><i class="fa fa-map-marker"></i></div>
                        <div class="single-footer-contact__text">@contactPageModel.Adres</div>
                    </div>
                    <div class="single-footer-contact">
                        <div class="single-footer-contact__icon"><i class="fa fa-phone"></i></div>
                        <div class="single-footer-contact__text"> <a href="tel:@contactPageModel.Gsm">@contactPageModel.Gsm</a> <br> <a href="tel:@contactPageModel.Telefon">@contactPageModel.Telefon</a> </div>
                    </div>
                    <div class="single-footer-contact">
                        <div class="single-footer-contact__icon"><i class="fa fa-globe"></i></div>
                        <div class="single-footer-contact__text">
                            <a href="mailto: @contactPageModel.Email1">@contactPageModel.Email1</a>
                            <br> <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright text -->
<div class="copyright-area background-color--deep-dark space__inner--y30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyright-text">2021 &copy; <a href="#">Tüm Hakları Saklıdır</a>- @siteConstantModel.Header</p>
            </div>
        </div>
    </div>
</div>
<!--====================  End of footer area  ====================-->
<!--====================  scroll top ====================-->
<button class="scroll-top" id="scroll-top">
    <i class="fa fa-angle-up"></i>
</button>
<!--====================  End of scroll top  ====================-->
