
@{ 
    BuildingSite.Data.Context.DataContext db = new BuildingSite.Data.Context.DataContext();

    BuildingSite.Services.Repository.OurServiceService ourServiceService = new BuildingSite.Services.Repository.OurServiceService(db);

    var ourServiceModels = ourServiceService.GetAll().Where(x => x.Active == true).ToList();

    BuildingSite.Services.Repository.ProjectCategoryService projectCategoryService = new BuildingSite.Services.Repository.ProjectCategoryService(db);

    var projectCategoryModels = projectCategoryService.GetAll().Where(x => x.Active == true).ToList();

    BuildingSite.Services.Repository.ProjectService projectService = new BuildingSite.Services.Repository.ProjectService(db);

    var projectModels = projectService.GetAll().Where(x => x.Active == true).ToList();

    BuildingSite.Services.Repository.SiteConstantService siteConstantService = new BuildingSite.Services.Repository.SiteConstantService(db);

    var siteConstantModel = siteConstantService.GetById(6);

    BuildingSite.Services.Repository.AboutUsPageService aboutUsPageService = new BuildingSite.Services.Repository.AboutUsPageService(db);

    var aboutUsPageModel = aboutUsPageService.GetById(1);

}
 
 <!--====================  header area ====================-->
<div class="header-area header-sticky bg-img space__inner--y40 background-repeat--x background-color--dark d-none d-lg-block" data-bg="/Content/assets/img/icons/ruler.png">
    <!-- header top -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="header-top-info">
                        <span class="header-top-info__image pr-1"><img src="~/Content/assets/img/icons/phone.png" alt=""></span>
                        <span class="header-top-info__text">@aboutUsPageModel.Phone</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="header-top-info text-center">
                        <span class="header-top-info__image pr-1"><img src="~/Content/assets/img/icons/clock.png" alt=""></span>
                        <span class="header-top-info__text">@siteConstantModel.WorkTime</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- menu bar -->
    <div class="menu-bar position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-bar-wrapper background-color--default space__inner--x35">
                        <div class="menu-bar-wrapper-inner">
                            <div class="row align-items-center">
                                <div class="col-lg-2">
                                    <div class="brand-logo">
                                        <a href="/Home/Index">
                                            <img src="~/Upload/Image/@siteConstantModel.Logo" width="100" alt="Theme-Logo" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="navigation-area d-flex justify-content-end align-items-center">
                                        <!-- navigation menu -->
                                        <nav class="main-nav-menu">
                                            <ul class="d-flex justify-content-end">
                                                <li><a href="/Home/Index">Anasayfa</a></li>
                                                <li><a href="/AboutUsPage/Index">Hakkımızda</a></li>
                                                <li class="has-sub-menu">
                                                    <a href="/OurService/Index">Hizmetlerimiz</a>
                                                    <ul class="sub-menu">
                                                        @foreach (var item in ourServiceModels)
                                                        {
                                                            <li><a href="/OurService/Detail/@item.Id">@item.Header</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                                <li class="has-sub-menu">
                                                    <a href="/Project/Index">Projelerimiz</a>
                                                    <ul class="sub-menu">
                                                        @foreach (var item in projectCategoryModels)
                                                        {
                                                            <li class="has-sub-menu">
                                                                <a href="/ProjectCategory/Index/@item.Id">@item.Name</a>
                                                                <ul class="sub-menu">
                                                                    @foreach (var project in projectModels.Where(x => x.ProjectCategoryId == item.Id).Where(x => x.Active).ToList())
                                                                    {
                                                                        <li><a href="/Project/Detail/@project.Id">@project.Header</a></li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }

                                                    </ul>
                                                </li>
                                                <li><a href="/Reference/Index">Referanslar</a></li>
                                                <li><a href="/News/Index">Haberler</a></li>
                                                <li><a href="/ContactPage/Index">Bize Ulaşın</a></li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of header area  ====================-->
