@model BuildingSite.Model.EntityModels.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--====================  breadcrumb area ====================-->
<div class="page-breadcrumb bg-img space__bottom--r120" data-bg="/Upload/Image/@Model.SiteConstantModel.PictureOurService"style="height:250px; margin-bottom:50px">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-breadcrumb-content text-center">
                    <h1>İletişim</h1>
                    <ul class="page-breadcrumb-links">
                        <li><a href="/Home/Inex">Anasayfa</a></li>
                        <li>İletişim</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of breadcrumb area  ====================-->
<!--====================  contact area ====================-->
<div class="conact-section space__bottom--r120">
    <div class="container">
        @*<div class="row">
                <div class="col space__bottom--40">
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.22268960882!2d-118.69511008446011!3d34.0381583259191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e81fcf6add4e6b%3A0x2e40b4a05c4cc7a0!2sThe%20Business%20Agency!5e0!3m2!1sen!2sbd!4v1571570206192!5m2!1sen!2sbd"></iframe>
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="contact-information">
                    <h4 class="space__bottom--30">İletişim Bilgileri</h4>
                    <ul>
                        <li>
                            <span class="icon"><i class="fa fa-map-marker"></i></span>
                            <span class="text"><span>@Model.ContactPageModel.Adres</span></span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-phone"></i></span>
                            <span class="text"><a href="tel:@Model.ContactPageModel.Telefon">@Model.ContactPageModel.Telefon</a></span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-envelope-open"></i></span>
                            <span class="text"><a href="mailto: @Model.ContactPageModel.Email1">@Model.ContactPageModel.Email1</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="contact-form">
                    <h4 class="space__bottom--30">Mesaj Gönder</h4>
                    <div style="margin-bottom:10px">
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.Error
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                  
                    <form action="/ContactPage/SendMessage" method="post" enctype="multipart/form-data" role="form">
                        <div class="row row-10">
                            <div class="col-md-12 col-12 space__bottom--20"><input name="Name" type="text" placeholder="Adı Soyadı"></div>
                            <div class="col-md-6 col-12 space__bottom--20"><input name="Mail" type="email" placeholder="EMail"></div>
                            <div class="col-md-6 col-12 space__bottom--20"><input name="Phone" type="text" placeholder="Telefon"></div>
                            <div class="col-12"><textarea name="Messsage" placeholder="Mesaj"></textarea></div>
                            @if (ViewBag.Success != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    <strong>Başarılı!</strong> @ViewBag.Success
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            <div class="col-12"><button type="submit">Gönder</button></div>
                        </div>
                    </form>
                    <p class="form-message"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of contact area  ====================-->
